.root {
  grid-column: span 16;
  /* margin-bottom: calc(var(--yr) * calc(var(--s3) * 2)); */
}

.schedule {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom: calc(var(--yr) * calc(var(--s2)));
  }
}

.year {
  grid-column: 4;
  margin-left: auto;
  margin-right: calc(var(--yr) * 2);
  color: #727272;
}

.indicators {
  display: grid;
  align-items: flex-start;
  grid-column: 12 / 15;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.indicator {
  background-color: #E7422E;
  height: calc(var(--yr) * 5);
  width: 0;
  opacity: 0;
  margin-top: 6px;
  margin-left: calc(var(--yr) * 2);
  grid-column: span 2;
  transform: translateY(16px);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;

  &.first {
    width: 40%;
    transform: translateY(0);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
    transition-delay: .2s;
  }

  &.second {
    width: 100%;
    transform: translateY(0);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
    transition-delay: .4s;
  }

  &.third {
    width: 80%;
    transform: translateY(0);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
    transition-delay: .6s;
  }

  &.fourth {
    width: 30%;
    transform: translateY(0);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
    transition-delay: .8s;
  }

  &.fifth {
    width: 10%;
    transform: translateY(0);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
    transition-delay: 1s;
  }
}

.sum {
  color: #E7422E;
  transform: translateY(16px);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  opacity: 0;
  text-align: right;
}

.first {
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  transition-delay: .2s;
}

.second {
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  transition-delay: .4s;
}

.third {
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  transition-delay: .6s;

}

.fourth {
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  transition-delay: .8s;
}

.fifth {
  transition: all 3s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  transition-delay: 1s;
}

.animated {
  transform: translateY(0);
  opacity: 1;
}

.description {
  grid-column: 5 / 12;
  margin-right: var(--xr);
}

@keyframes first {
  from {
    width: 0;
  }

  to {
    width: 4px;
  }
}

@keyframes second {
  from {
    width: 0;
  }

  to {
    width: 14px;
  }
}

@keyframes third {
  from {
    width: 0;
  }

  to {
    width: 36px;
  }
}

@keyframes fourth {
  from {
    width: 0;
  }

  to {
    width: 77px;
  }
}

@keyframes fifth {
  from {
    width: 0;
  }

  to {
    width: 108px;
  }
}

@keyframes sixth {
  from {
    width: 0;
  }

  to {
    width: 96px;
  }
}

@keyframes seventh {
  from {
    width: 0;
  }

  to {
    width: 168px;
  }
}

@keyframes eighth {
  from {
    width: 0;
  }

  to {
    width: 120px;
  }
}
