.industrial {
  display: block;

  & .title {
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  & .text {
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .title {
      grid-column: 4 / 12;
      margin-bottom: calc(var(--yr) * var(--s3));
    }

    & .text {
      grid-column: 4 / 12;
      margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
    }
  }
}

.graphs {
  display: block;

  & .structure {
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  & .production {
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .structure {
      grid-column: 4 / 9;
      margin-bottom: 64px;
    }

    & .production {
      grid-column: 10 / 15;
      margin-bottom: 64px;
    }

    & .description {
      margin: 0;
      align-self: center;
    }
  }
}

.placeholder2 {
  display: none;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 100%;
    position: relative;
    z-index: -1;
  }

  @media(--s) {
    display: block;
  }
}

.circle {
  position: relative;
  background: url('../images/circle.svg') no-repeat top;
  background-size: contain;
  display: block;
  height: 360px;
  margin-bottom: 26px;
}

.desc {
  color: #727272;
  text-align: center;
}

.placeholder {
  height: 450px;
  width: 450px;
  background-color: #fafafa;
  margin-bottom: 26px;
}

.taxes {
  display: block;
  margin-bottom: calc(var(--yr) * calc(var(--s3)));

  & .text {
    text-align: center;
    margin-bottom: 8px;
  }

  & .ellipse_1 {
    position: relative;
    display: block;
    background: url('../images/ellipse_1.svg') no-repeat center;
    background-size: contain;
    height: 360px;
    z-index: -1;
    margin-bottom: calc(var(--yr) * var(--s3));

    & .ellipse_2 {
      position: absolute;
      width: 100%;
      display: block;
      background: url('../images/ellipse_2.svg') no-repeat center;
      background-size: contain;
      height: 100%;
      left: calc(var(--yr) * 2);

      & .dues {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        z-index: 2;
      }

      & .sum {
        margin-bottom: 8px;
        color: #E7422E;
      }

      & .taxe {
        color: #E7422E;
      }

      & .desc {
        margin-bottom: 32px;
      }
    }
  }
  @media(--l) {
    grid-column: 4 / 15;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 4));

    & .text {
      text-align: center;
      margin-bottom: 8px;
    }

    & .ellipse_1 {
      grid-column: 1 / 6;
      position: relative;
      background-image: url('../images/ellipse_1.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      height: 360px;
      z-index: -1;
      margin-bottom: 16px;
      width: 100%;

      & .ellipse_2 {
        position: absolute;
        background-image: url('../images/ellipse_2.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        height: 100%;
        width: 100%;
        left: calc(var(--yr) * 2);

        & .dues {
          top: 50%;
          position: absolute;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          text-align: center;
          z-index: 2;
        }

        & .sum {
          margin-bottom: 8px;
          color: #E7422E;
        }

        & .taxe {
          color: #E7422E;
        }

        & .desc {
          margin-bottom: 32px;
        }
      }
    }
  }
}

.description {
  grid-column: 7 / 12;
}

.image {
  background: url('../images/vyksa.jpg') no-repeat;
  background-size: cover;
  margin: 0 calc(-1 * var(--xr));

  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(1 / 2 * 100%);
  }

  @media(--l) {
    grid-column: 4 / 17;
  }
}
