.industrial {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .title {
      grid-column: 4 / 12;
      margin-bottom: calc(var(--yr) * var(--s3));
    }

    & .text {
      grid-column: 4 / 12;
      margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
    }
  }
}

.graphs {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .structure {
      grid-column: 4 / 9;
    }

    & .production {
      grid-column: 10 / 16;
      margin-bottom: 64px;
    }

    & .description {
      margin: 0;
      align-self: center;
    }
  }
}

.circle {
  background: url('../images/circle.svg') no-repeat;
  display: block;
  padding-top: 100%;
  margin-bottom: 26px;
}

.desc {
  color: #727272;
  text-align: center;
}

.placeholder {
  height: 450px;
  width: 450px;
  background-color: #fafafa;
  margin-bottom: 26px;
}

.taxes {
  grid-column: 4 / 15;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 4));

  & .text {
    text-align: center;
    margin-bottom: 8px;
  }

  & .ellipse_1 {
    grid-column: 1 / 6;
    position: relative;
    background-image: url('../images/ellipse_1.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 360px;
    z-index: -1;
    margin-bottom: 16px;
    width: 100%;

    & .ellipse_2 {
      position: absolute;
      background-image: url('../images/ellipse_2.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      height: 100%;
      bottom: 0;
      width: 102%;

      & .dues {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        z-index: 2;
      }

      & .sum {
        margin-bottom: 8px;
        color: #E7422E;
      }

      & .taxe {
        color: #E7422E;
      }

      & .desc {
        margin-bottom: 32px;
      }
    }
  }
}

.description {
  grid-column: 7 / 12;
}

.image {
  grid-column: 4 / 17;
  background: url('../images/vyksa.jpg') no-repeat center;
  background-size: cover;
  height: 584px;
}
