.investment {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    position: relative;

    & .chrono {
      border-top: 1px solid #E8E8E8;
      padding-top: calc(var(--yr) * var(--s2));
      margin-bottom: 169px;
    }
  }
}

.number, .percent {
  composes: h4 from '../Fonts.module.css';
}

.year {
  composes: small from '../Fonts.module.css';
  font-weight: var(--fw_bold);
}

.dinamic {
  grid-column: 4 / 13;
  margin-bottom: 130px;
}

.numbers, .percents {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 4px;
}

.years {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: calc(var(--yr) * var(--s2));
  color: #E7422E;
}

.description {
  margin-right: calc(1 / 16 * 100%);
  color: #727272;
}

.import {
  grid-column: 4 / 13;
  margin-bottom: 71px;
}

.small {
  color: #727272;
}

.big {
  color: #E7422E;
}

.pipes {
  background-image: url('../images/pipes.svg');
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  z-index: -1;
  height: 4122px;
  width: 100%;
  margin-top: -1665px;
  right: calc(1 / 16 * 100%);
}
