.root {
  grid-column: span 16;
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
}

.schedule {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom: calc(var(--yr) * calc(var(--s2)));
  }
}

.year {
  grid-column: 4;
  margin-left: auto;
  margin-right: calc(var(--yr) * 2);
  color: #727272;
}

@keyframes indicator {
  from {
    width: 0;
  }

  to {
    width: 50px;
  }
}

.indicators {
  display: grid;
  align-items: flex-start;
  grid-column: 12 / 15;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}


.indicator {
  background-color: #E7422E;
  height: calc(var(--yr) * 2);
  width: 0;
  opacity: 0;
  margin-top: 6px;
  margin-left: calc(var(--yr) * 2);
  transform: translateY(16px);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;

  &.first {
    width: 50px;
    animation: indicator 1.5s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.second {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.third {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.fourth {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.fifth {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.sixth {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.seventh {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  &.eighth {
    width: 50px;
    animation: indicator 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

.sum {
  color: #E7422E;
  transform: translateY(16px);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 1.6s;
  opacity: 0;
}

.animated {
  transform: translateY(0);
  opacity: 1;
}

.description {
  grid-column: 5 / 12;
}
