.root {
  grid-column: span 16;
  margin-bottom: 64px;
}

.schedule {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom: 16px;
    align-items: center;
  }
}

.year {
  grid-column: 3 / 5;
  margin-left: auto;
  margin-right: 16px;
  color: #727272;
}

.indicator {
  background-color: #E7422E;
  display: block;
  grid-column: 13 / 15;
  margin-right: 16px;
  height: 8px;
  margin-left: 8px;

  &.first {
    width: 4px;
  }

  &.second {
    width: 14px;
  }

  &.third {
    width: 36px;
  }

  &.fourth {
    width: 77px;
  }

  &.fifth {
    width: 108px;
  }

  &.sixth {
    width: 96px;
  }

  &.seventh {
    width: 168px;
  }

  &.eighth {
    width: 120px;
  }
}

.sum {
  color: #E7422E;
  grid-column: 12;
}

.description {
  grid-column: 5 / 12;
}

/* .graph {
  display: flex;
  grid-column: 6 / 15;
  margin-bottom: 8px;
  align-items: center;
} */
