.slides {
  display: flex;

  @media(--s) {
    display: grid;
    grid-template-columns: repeat(21,1fr);
  }
}

.slide {
  /* display: block;
  transform: translateX(50%);
  transition: .5s ease-out; */
}

.glide {
  margin: 0;
  @media(--l) {
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 4));
  }
}

.image {
  background-color: #f1f1f1;
  margin-bottom: calc(var(--yr) * var(--s2));

  &::before {
    display: block;
    content: '';
    padding-top: calc(2 / 3 * 100%);
  }

  &.first {
    background: url('../images/slider/1.jpg') no-repeat center;
    background-size: cover;
  }

  &.second {
    background: url('../images/slider/2.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }

  &.third {
    background: url('../images/slider/3.jpg') no-repeat center;
    background-size: cover;
  }

  &.fourth {
    background: url('../images/slider/4.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }

  &.fifth {
    background: url('../images/slider/5.jpg') no-repeat center;
    background-size: cover;
  }

  &.sixth {
    background: url('../images/slider/6.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }

  &.seventh {
    background: url('../images/slider/7.jpg') no-repeat center;
    background-size: cover;
  }

  &.eighth {
    background: url('../images/slider/8.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }

  &.ninth {
    background: url('../images/slider/9.jpg') no-repeat center;
    background-size: cover;
  }

  &.tenth {
    background: url('../images/slider/10.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }

  &.eleventh {
    background: url('../images/slider/11.jpg') no-repeat center;
    background-size: cover;
  }

  &.twelfth {
    background: url('../images/slider/12.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }

  &.thirteenth {
    background: url('../images/slider/13.jpg') no-repeat center;
    background-size: cover;
  }

  &.fourteenth {
    background: url('../images/slider/14.jpg') no-repeat center;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      padding-top: calc(4 / 5 * 100%);
    }
  }
}

.title {
  margin-bottom: calc(var(--yr) * 1.5);

  @media(--l) {
    margin-bottom: calc(var(--yr) * 2);
  }
}

.text {
  color: #727272;

  @media(--l) {
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  }
}

.bullets {
  display: none;

  @media(--l) {
    margin-left: calc(3 / 16 * 100%);
    margin-right: calc(2 / 16 * 100%);
    display: flex;
    width: calc(11 / 16 * 100%);
    align-items: center;
  }
}

.control {
  width: 100%;
  background-color: #CCCCCC;
  height: 1px;
  display: flex;
  margin-top: -4px;
  align-items: flex-end;

  & .first, & .second, & .third,
  & .fourth, & .fifth, & .sixth,
  & .seventh, & .eighth, & .ninth,
  & .tenth, & .eleventh, & .twelfth,
  & .thirteenth, & .fourteenth {
    background-color: #E7422E;
    height: 2px;
  }
}

.buttons {
  display: flex;
}

.bar {
  width: 7.1428%;
  transition: all 1.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.prev {
  margin-right: 8px;
}

.next {
  margin-right: 16px;
}

.animated {
  transform: translateX(0);
}
