.root {
  grid-column: 4 / 15;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);

  &.show {
    visibility: visible;

    & .content {
      transform: scale(1);
      opacity: 1;
    }
  }

  @media(--l) {
    width: 50%;
    max-width: 1024px;
  }
}

.content {
  color: #fff;
  height: 100vh;
  background: #FAFAFA;
  position: relative;
  margin: 0 auto;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
  overflow: auto;

  & .title {
    position: absolute;
    left: calc(1 / 16 * 100%);
    position: absolute;
    bottom: calc(var(--yr) * calc(var(--s3) * 2));
    width: calc( 10 / 16 * 100%);
  }

  @media(--l) {
    height: 90vh;
    border-radius: 15px;
    transition: all 0.3s;

    & .title {
      left: calc(2 / 16 * 100%);
      width: calc( 10 / 16 * 100%);
    }
  }
}

.overlay {
  display: none;

  @media(--l) {
    display: block;
    position: fixed;
  	width: 100%;
  	height: 100%;
  	visibility: hidden;
  	top: 0;
  	left: 0;
  	z-index: 1000;
  	opacity: 0;
    background: rgba(0,0,0,0.4);
  	transition: all 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.spoiler {
  display: block;
  color: #FAFAFA;
  margin-bottom: calc(var(--yr) * var(--s3));
  background-color: #FAFAFA;
  height: 468px;
  background: url('../images/spoiler/spoiler_1.jpg') no-repeat bottom;
  background-size: cover;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 178px 20px 25px 20px;
  position: relative;

  &.second {
    background-image: url('../images/spoiler/spoiler_2.jpg');
    background-position: center 75%;
  }

  &.third {
    background-image: url('../images/spoiler/spoiler_3.jpg');
    background-position: center 15%;
  }

  &.fouth {
    background-image: url('../images/spoiler/spoiler_4.jpg');
    background-position: center;
  }

  &.fifth {
    background-image: url('../images/spoiler/spoiler_5.jpg');
    background-position: center 25%;
  }

  & .title {
    position: absolute;
    bottom: calc(var(--yr) * calc(var(--s4) * 4));
    max-width: 300px;
  }

  & .more {
    position: absolute;
    bottom: calc(var(--yr) * calc(var(--s4) * 2));
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      text-align: center;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      content: '';
      background-color: #E7422E;
      background-image: url('../images/plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 16px;
      width: 40px;
      height: 40px;
    }
  }

  @media(--l) {
    grid-column: 4 / 15;
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
    padding: 64px 45px;
    height: 330px;
    display: flex;
    align-items: flex-end;
    border-radius: 0;
    background: url('../images/spoiler/spoiler_1.jpg') no-repeat center;
    background-size: cover;

    &.second {
      background-image: url('../images/spoiler/spoiler_2.jpg');
      background-position: center 75%;
    }

    &.third {
      background-image: url('../images/spoiler/spoiler_3.jpg');
      background-position: center 25%;
    }

    &.fouth {
      background-image: url('../images/spoiler/spoiler_4.jpg');
      background-position: center;
    }

    &.fifth {
      background-image: url('../images/spoiler/spoiler_5.jpg');
      background-position: center 25%;
    }

    & .title {
      position: static;
      width: calc(10 / 16 * 100%);
      margin-bottom: 0;
      bottom: 0;
      max-width: none;
    }

    & .more {
      position: static;
      bottom: 0;
      margin-left: auto;
      cursor: pointer;
      display: flex;
      align-items: center;

      &::before {
        text-align: center;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        content: '';
        background-color: #E7422E;
        background-image: url('../images/plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 16px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.image {
  background: url('../images/spoiler/spoiler_1.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 10%;
  position: relative;

  &:before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%);
  }

  &.second {
    background-image: url('../images/spoiler/spoiler_2.jpg');
  }
  &.third {
    background-image: url('../images/spoiler/spoiler_3.jpg');
  }
  &.fouth {
    background-image: url('../images/spoiler/spoiler_4.jpg');
  }
  &.fifth {
    background-image: url('../images/spoiler/spoiler_5.jpg');
  }

  @media(--l) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &:before {
      padding-top: calc(9 / 16 * 100%);
    }
  }
}

.text {
  color: #000;
  padding: 0 calc(1 / 16 * 100%);
  margin: calc(var(--yr) * calc(var(--s3) * 2)) 0;

  @media(--l) {
    color: #000;
    padding: 0 calc(2 / 16 * 100%);
  }
}

.close {
  position: absolute;
  height: 36px;
  width: 36px;
  background: #fff;
  border-radius: 50%;
  right: calc(1 / 16 * 100%);
  transform: translateY(100%);
  transition: 0s;
  cursor: pointer;
  top: 0;

  & svg {
    display: block;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    & line {
      stroke: #000;
    }
  }
}


.layout {

}
