.root {
  margin-bottom: 32px;
}

.schedule {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &:last-child {
      margin: 0;
    }
  }
}

.percent {
  color: #E7422E;
  grid-column: 1;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

.other {
  grid-column: 1;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

.indicator {
  display: block;
  grid-column: 2 / 6;
  height: 20px;
  opacity: 0;
  width: 0;
  align-self: center;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  &.first {
    width: 94px;
    background-color: #E7422E;
  }

  &.second {
    width: 36px;
    background-color: #E7422E;
  }

  &.third {
    width: 22px;
    background-color: #E7422E;
  }

  &.fourth {
    width: 11px;
    background-color: #E7422E;
  }

  &.fifth {
    width: 7px;
    background-color: #E7422E;
  }

  &.sixth {
    width: 4px;
    background-color: #E7422E;
  }

  &.seventh {
    width: 4px;
    background-color: #E7422E;
  }

  &.eighth {
    width: 180px;
    background-color: #E8E8E8;
    animation: eighth 2s 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

.vrp {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description {
  grid-column: 2 / 6;
}

.animated {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
