.header {
  position: relative;
  background-color: #f1f1f1;
  height: 400px;
  background-image: url('./images/top.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media(--s) {
    height: auto;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--yr) * 36);
    background: linear-gradient(to top, color-mod(#000 alpha(-30%)), color-mod(#000 alpha(-100%)));
    z-index: 0;

    @media (--m) {
      height: calc(var(--yr) * 72);
    }
  }
}

.placeholder {
  display: none;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 50%;
    position: relative;
    z-index: -1;
  }

  @media(--s) {
    display: block;
  }
}

.intro {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .text {
      grid-column: 4 / 12;
    }

    & .wrapper {
      grid-column: 13 / 15;
      display: flex;
      flex-wrap: wrap;
      max-width: 180px;

      & .logo {
        width: 90px;
        height: 95px;
      }

      & .link {
        color: #2F5175;
        text-decoration: underline;
        grid-column: 13 / 15;
      }
    }
  }
}

.worldwide {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }
}

.world {
  @media(--l) {
    grid-column: 4 / 12;
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));

    & .title {
      margin-bottom: calc(var(--yr) * var(--s3));
    }
  }
}

.pics {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));

    & .rgd, & .pipe {
      grid-column: 4 / 9;

      & .image {
        display: block;
        background-image: url('./images/train.svg');
        background-repeat: no-repeat;
        margin-bottom: calc(var(--yr) * var(--s3));

        &:before {
          display: block;
          content: '';
          height: 95px;
          width: 100%;
        }
      }

      & .title {
        display: flex;
        align-items: center;
        color: #E7422E;
        border-bottom: 2px solid #E8E8E8;

        & .mln {
          margin-right: calc(var(--yr) * var(--s2));
          margin-bottom: calc(var(--yr) * 2);
        }
      }

      & .desc {
        display: flex;
        margin-top: calc(var(--yr) * 2);
        margin-bottom: calc(var(--yr) * var(--s3));
        color: #141414;
        align-items: center;

        & .km {
          margin-right: calc(var(--yr) * var(--s2));
        }
      }
    }

    & .pipe {
      grid-column: 10 / 15;

      & .image {
        background-image: url('./images/world.svg');
      }
    }
  }
}

.pipes {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    position: relative;
    height: 937px;

    & .baltic {
      grid-column: 4 / 9;
      align-self: center;
      grid-row: 2;

      & .sahalin {
        color: #E7422E;
      }
    }

    & .international {
      grid-column: 4 / 9;
      align-self: end;
      grid-row: 2;
    }

    & .stream {
      grid-column: 10 / 15;
      align-self: end;
      grid-row: 2;
    }

    & .map {
      position: absolute;
      background-image: url('./images/map.svg');
      width: 100%;
      height: 786px;
      top: -52px;
      background-repeat: no-repeat;
      z-index: -1;
      left: calc(2 / 16 * 100%);
      right: calc(1 / 16 * 100%);
    }
  }
}

.projects {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }

  & .title {
    grid-column: 4 / 12;
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  & .text {
    grid-column: 4 / 12;
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  }
}

.blur {
  filter: blur(10px);
}

.single {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .image {
      grid-column: 1 / span 11;
      background-image: url('./images/people.jpg');
      padding-top: 50%;
      background-repeat: no-repeat;
    }
  }
}

.qwe {
  grid-column: 4 / 15;
}
