.header {
  position: relative;
  background-color: #f1f1f1;
  height: 400px;
  background-image: url('./images/top.jpg');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: cover;
  margin: 0 calc(-1 * var(--xr));

  @media(--s) {
    margin: 0 calc(-1 * calc(var(--xr) * 2));
    height: auto;
    background-position: top center;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(var(--yr) * 36);
    background: linear-gradient(to top, color-mod(#000 alpha(-30%)), color-mod(#000 alpha(-100%)));
    z-index: 0;

    @media (--m) {
      height: calc(var(--yr) * 72);
    }
  }
}

.placeholder {
  display: none;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 48%;
    position: relative;
    z-index: -1;
  }

  @media(--s) {
    display: block;
  }
}

.intro {
  margin: calc(var(--yr) * calc(var(--s3) * 2)) 0;

  & .text {
    margin-bottom: 16px;
  }

  & .wrapper {
    display: block;

    & .logo {
      width: 90px;
      height: 95px;
      margin-bottom: calc(var(--yr) * var(--s2));
    }

    & .link {
      color: #2F5175;
      text-decoration: underline;
    }
  }

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin: calc(var(--yr) * calc(var(--s3) * 4)) 0;

    & .text {
      grid-column: 4 / 12;
      margin-bottom: 0;
    }

    & .wrapper {
      grid-column: 13 / 15;

      & .link {
        grid-column: 13 / 15;
      }
    }
  }
}

.worldwide {
  display: block;

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }
}

.world {
  & .title {
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  & .text {
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  @media(--l) {
    grid-column: 4 / 12;
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));

    & .title {
      margin-bottom: calc(var(--yr) * var(--s3));
    }

    & .text {
      margin-bottom: 0;
    }
  }
}

.pics {
  display: block;

  & .rgd, & .pipe {
    margin-bottom: 32px;

    & .image {
      display: block;
      background-image: url('./images/train.svg');
      background-repeat: no-repeat;
      margin-bottom: calc(var(--yr) * var(--s3));

      &:before {
        display: block;
        content: '';
        height: 95px;
        width: 100%;
      }
    }

    & .title {
      display: flex;
      align-items: center;
      color: #E7422E;
      border-bottom: 2px solid #E8E8E8;

      & .mln {
        margin-right: calc(var(--yr) * 2);
        margin-bottom: calc(var(--yr) * 2);
      }
    }

    & .desc {
      display: flex;
      margin-top: calc(var(--yr) * 2);
      margin-bottom: calc(var(--yr) * var(--s3));
      color: #141414;
      align-items: center;

      & .km {
        margin-right: calc(var(--yr) * 5);
      }
    }
  }

  & .pipe {
    & .image {
      background-image: url('./images/world.svg');
      background-size: cover;
    }
}

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .rgd, & .pipe {
      grid-column: 4 / 9;

      /* & .image {
        display: block;
        background-image: url('./images/train.svg');
        background-repeat: no-repeat;
        margin-bottom: calc(var(--yr) * var(--s3));

        &:before {
          display: block;
          content: '';
          height: 95px;
          width: 100%;
        }
      } */

      & .title {
        display: flex;
        align-items: center;
        color: #E7422E;
        border-bottom: 2px solid #E8E8E8;

        & .mln {
          margin-right: calc(var(--yr) * var(--s2));
          margin-bottom: calc(var(--yr) * 2);
        }
      }

      /* & .desc {
        display: flex;
        margin-top: calc(var(--yr) * 2);
        margin-bottom: calc(var(--yr) * var(--s3));
        color: #141414;
        align-items: center;

        & .km {
          margin-right: calc(var(--yr) * var(--s2));
        }
      } */
    }

    & .pipe {
      grid-column: 10 / 15;

      /* & .image {
        background-image: url('./images/world.svg');
      } */
    }
  }
}

.pipes {
  display: block;
  position: relative;

  & .baltic {
    margin-bottom: 16px;

    & .sahalin {
      color: #E7422E;
    }
  }

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    position: relative;
    margin-top: -9%;

    & .baltic {
      grid-column: 4 / 9;
      align-self: center;
      margin-bottom: 32px;
    }

    & .international {
      grid-column: 4 / 9;
      align-self: end;
      grid-row: 2;
    }

    & .stream {
      grid-column: 10 / 15;
      align-self: end;
      grid-row: 2;
    }
  }
}

.map {
  background: url('./images/map.svg') no-repeat;
  z-index: -1;
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 calc(-1 * var(--xr));

  @media(--s) {
    height: auto;
    margin-left: calc(2 / 16 * 100%);
    margin-right: calc(1 / 16 * 100%);
  }

  & .placeholder {
    display: none;
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 100%;
      position: relative;
      padding-top: calc(2 / 3 * 100%);
      z-index: -1;
    }

    @media(--s) {
      display: block;
    }
  }
}

.projects {
  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }

  & .title {
    grid-column: 4 / 12;
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  & .text {
    grid-column: 4 / 12;
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  }
}

.single {
  display: block;
  position: relative;

  & .image {
    margin: 0 calc(-1 * var(--xr));
    background: url('./images/people.jpg') no-repeat;
    background-size: cover;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: calc(1 / 2 * 100%);
    }
  }

  @media(--l) {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    & .image {
      grid-column: 1 / span 11;
      margin: 0;
    }
  }
}

.qwe {
  grid-column: 4 / 15;
}
