/* @import '@glidejs/glide/dist/css/glide.core'; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: calc(var(--yr) * var(--fs));
  line-height: calc(var(--yr) * calc(var(--lh) + 0.5));
}

a {
  color: #212121;
  text-decoration: none;
}
