:root {
  --pr_color: #212121;
  --gr_color: #777;
  --sp_color: #e0e0e0;
  --rd_color: red;

  --yr: 0.25rem;
  --xr: 1rem;

  --fw_normal: 400;
  --fw_bold: 600;

  --fs: 4;
  --lh: 6;

  --s1: 2;
  --s2: 3;
  --s3: 6;
  --s4: 9;

  @media (--s) {
    --fs: 5;
    --lh: 7.5;

    --s1: 3;
    --s2: 4;
    --s3: 8;
    --s4: 12;
  }
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1280px);
@custom-media --xl (min-width: 1600px);
